{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="bg-white rounded shadow-sm" id="reg-div">
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            <div class="d-flex flex-row align-items-center justify-content-between">
                <div id="reg-form" class="d-flex flex-column justify-content-between">
                    <div class="d-flex flex-column justify-content-start">
                        <h4 class="m-0">Восстановление пароля</h4>
                        <p class="mt-3">Письмо с новым паролем отправлено на <b>{{ email.0 }}</b>.</p>
                    </div>
                    
                </div>
                <div id="reg-img">
                    <img src="{{ url_for('static', filename='img/reg-logo.jpg') }}" alt="">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

