{% extends 'base.html' %}

{% block title %}Ангары{% endblock %}

{% block content %}
<div class="content">
    <div class="bg-white rounded shadow-sm p-3 px-4">
        <div class="d-flex flex-row align-items-center mb-3 mt-2">
            <a href="{{ url_for('admin.admin_menu') }}" class="btn btn-outline-primary" style="padding: 5px 7px; line-height: 14px; padding-bottom: 7px;">&lt;</a>
            <h4 class="mb-0 mx-3">Ангары</h4>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Итоговая стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% for basket in baskets %}
                <tr>
                    <td><a href="{{ url_for('admin.admin_basket', basket_id=basket[0]) }}">{{ basket[0] }}</a></td>
                    <td>{{ basket[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('admin.admin_basket_add') }}" class="btn btn-primary px-4 w-100 mb-2">Добавить</a>
    </div>
</div>
{% endblock %}
